[Unit]
Description = isucon9 qualifier main application in ruby

[Service]
WorkingDirectory=/home/isucon/isucari/webapp/ruby
EnvironmentFile=/home/isucon/env.sh

# ExecStart = /home/isucon/local/ruby/bin/bundle exec rackup -p 8000
ExecStart = /home/isucon/local/ruby/bin/bundle exec rackup -o /tmp/isucari.socket
# ExecStart = /home/isucon/local/ruby/bin/bundle exec rackup -o -E production /tmp/isucari.socket

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
